.grid-box {
   margin-bottom: 15rem;
   padding: 5rem;
   background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));

   &__header {
      text-align: center;
      color: $color-white;
   }

   &__block {
      margin-top: 5rem;
      margin-bottom: 5rem;

      &--container {
         column-count: 3;
         column-gap: 5rem;
         width: 80%;
         margin: 0 auto;

         &-item {
            margin-top: 3rem;
            margin-bottom: 3rem;
            display: inline-block;
            width: 100%;
            padding: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            transition: all 0.25s ease-in-out;
            background-color: rgba($color-white, 0.8);

            &:hover {
               outline: 1rem solid $color-primary;
               transform: scale(1.05) translateY(-0.5rem);
               box-shadow: 0 1rem 1rem rgba($color-black, 0.5);
               z-index: 20;
            }

            img {
               width: 100%;
               height: 200px;
               border-radius: 5px;
               transition: all 0.25s ease-in-out;
               display: block;
            }
            p {
               border-top: 1px solid $color-gray-dark-2;
               margin: 2rem 2rem;
               padding: 1rem;
               text-align: center;
               font-size: 1.4rem;
            }
         }
      }
   }
}

.lightbox {
   /* Hidden lightbox image */
   display: none;
   position: fixed;
   z-index: 999;
   width: 100%;
   height: 100%;
   text-align: center;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.8);

   img {
      max-width: 80%;
      max-height: 70%;
      margin-top: 20rem;
   }

   &:target {
      /* Show the lightbox */
      display: block;
   }

   &__text {
      color: $color-white;
      margin: 2rem;
      padding: 0 10rem;
      text-align: center;
      font-size: 1.8rem;
   }
}

.close {
   position: absolute;
   top: 9.5rem;
   margin: 50px;
   right: 8rem;
   font-size: 5rem;
   color: $color-gray-light-1;
   // background-color: $color-white;
   text-decoration: none;
}

.thumbnail-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}
